@import "../../styles/variables.scss";

.gallery-card {
  background-color: $foreground-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;

  min-width: 160px;
  height: 200px;

  &,
  &:hover,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }

  .room-preview-image {
    display: block;
    margin: auto;

    width: 130px;
    height: 130px;

    border-radius: inherit;
    box-shadow: inset 0px 1px 4px 3px rgba(0, 0, 0, 0.15);
    background-image: url("../../assets/grid.svg");

    padding: 12px;
  }

  &:hover {
    background-color: darken($foreground-color, 15);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }
}

.gallery-card-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}

.gallery-card-button {
  margin: 8px;
}

.gallery-card-name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;

  font-weight: 600;
}
