@import "../../styles/variables.scss";


.content-container {
  max-height: 100%;
  overflow: visible;

  padding: 0 25px;
  max-width: 1200px;
  margin: 45px auto 15px auto;

  display: grid;
  grid-template-rows: max-content;
  // Need minmax(0, 1fr) to prevent items from overflowing grid column (if it was just 1fr) - https://css-tricks.com/preventing-a-grid-blowout/
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "header header header"
    "card-create card-templates card-join"
    "recent-rooms recent-rooms recent-rooms";
  gap: 30px 20px;

  justify-items: center;

  @media screen and (max-width: $breakpoint-lg) {
    margin-top: 20px;
    padding: 15px;
    row-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
    "header"
    "card-create"
    "card-templates "
    "card-join"
    "recent-rooms";
  }



  .header-container {
    grid-area: header;
    display: flex;
    justify-self: stretch;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    .logo {
      flex-grow: 1;
      grid-area: logo;
      max-width: 800px;

      path {
        fill: $text-color-dark;
      }
    }
  }

  .custom-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 25px 20px 25px 20px;

    @media screen and (max-width: $breakpoint-lg) {
      padding: 20px 15px 20px 15px;
    }
  } 

  .home-card-create {
    grid-area: card-create;
    form {
      max-width: 400px;
      align-self: stretch;
    }
  }
  .home-card-templates {
    grid-area: card-templates;
  }      
  .home-card-join {
    grid-area: card-join;
    p {
      margin: 0;
    }
  }
  .home-card-create, 
  .home-card-templates,
  .home-card-join {
    
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    & > * + * {
      margin-top: 10px;
    }
  }

  .home-recent-rooms {
    grid-area: recent-rooms;
  }
}

#background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -10;
  border: none;
}
