.item-menu-button {
  color: #444;
}

.item-dropdown-menu {
  position: relative;
  display: inline-block;
}

.item-dropdown-content ul {
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;

  list-style-type: none;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  border: 1px solid #c2c2c280;
  border-radius: 4px;
}

.item-dropdown-content li {
  padding: 5px 10px;
  color: rgb(36, 36, 36);
  font-size: 17px;
  line-height: 35px;
  vertical-align: middle;

  border-bottom: 1px solid;
  border-bottom-color: #d6d6d6;
}

.item-dropdown-content .item-dropdown-content-row {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.item-dropdown-content li svg {
  font-size: 0.9em;
  margin-right: 0.75em;
}

.item-dropdown-content li:last-child {
  border-bottom: none;
}

.item-dropdown-content li:hover {
  background-color: #c2c2c280;
}

.item-dropdown-content .color-danger {
  color: #dc3545;
}
