@import "../../styles/variables.scss";

.item-menu-button {
  color: $text-color-dark;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.list-item {
  transition: background-color 0.1s ease-in;
  font-size: 16px;
  color: $text-color-dark;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .list-item-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .item-name {
      font-weight: 600;
    }
    .item-quantity {
      font-weight: 500;
    }
  }

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  & + & {
    border-top: 1px solid $border-color;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &.item-selected {
    background-color: $selection-color-primary;
  }
}

.item-dropdown-menu {
  min-width: 160px;
  box-shadow: $box-shadow;
  border-radius: 8px;
  z-index: 2;

  // Hide popper when it has "hidden" class and when item is no longer visible (e.g. it is scrolled out of view)
  &.hidden,
  &[data-popper-reference-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
  }

  ul {
    list-style-type: none;
    background-color: $dropdown-background-color;
    padding: 0;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: inherit;

    li {
      padding: 5px 10px;
      color: $text-color-dark;
      font-size: 17px;
      line-height: 28px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      border-bottom: 1px solid;
      border-bottom-color: $border-color;

      svg {
        font-size: 0.8em;
        margin: auto 0;
        margin-right: 0.75em;
      }

      &.color-danger {
        color: $color-danger;
      }

      &:hover {
        background-color: $border-color;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
