*.rdb
rethinkdb_data/
rethinkdb_data/log_file
rethinkdb_data/metadata

.idea
.env

log.txt

dormdesign

.DS_Store
.vscode/

certbot/
/data/

node_modules/
server/node_modules

frontend/.next/
frontend/node_modules
.vercel
