# rethinkdb
*.rdb
rethinkdb_data/
rethinkdb_data/log_file
rethinkdb_data/metadata

# ide & runtime stuff
.idea
.env
.DS_Store
.vscode/

log.txt

# builds
dormdesign

# https related stuff
certbot/
data/

# node.js
/node_modules