$color-primary: #2b7cff; //#0c69ff;
$color-secondary: #8a8a8a;
$color-danger: #f0353b;

$color-success: #22c84f;
$color-light-grey: #e0e0e0;

$text-color-dark: #333;
$text-color-light: #fff;
$dropdown-background-color: #f7f7f7;
$background-color: #f9f9f9;
$foreground-color: #fff;
$border-color: $color-light-grey;
$selection-color-primary: lighten($color-primary, 25%);

$card-inset-color: #fafafa;
$card-border-radius: 4px;

$box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);

$btn-font-size: 16px;
$btn-font-size-large: 18px;
$btn-font-family: "Source Sans Pro", sans-serif;
$btn-font-weight: 600;
$btn-border-radius: 4px;

$navbar-height: 56px;

$footer-height: 50px;
$footer-text-color: $text-color-dark;

$room-thumbnail-width: 175px;
$room-thumbnail-width-sm: 125px;

$breakpoint-lg: 900px;
$breakpoint-md: 675px;
$breakpoint-sm: 430px;

@mixin button-color($color, $text-color) {
  color: $text-color;
  background-color: $color;
  border: 1px solid $color;
  &:hover {
    background-color: darken($color, 7.5%);
    border-color: darken($color, 7.5%);
    text-decoration: none;
    color: $text-color;
  }

  &:disabled {
    background-color: lighten($color, 20%);
    border-color: lighten($color, 20%);
    box-shadow: none;
    cursor: default;
  }
}

@mixin button-outline-color($color, $text-color) {
  background-color: transparent;
  border: 1px solid $color;
  color: $color;
  transition: all 0.05s ease;
  box-shadow: none;

  &:hover {
    background-color: $color;
    color: $text-color;
    text-decoration: none;
  }

  &:disabled {
    color: lighten($color, 20%);
    cursor: default;
  }
}
