$color-primary: #2b7cff; //#0c69ff;
$color-secondary: #8a8a8a;
$color-danger: #dc3545;
$color-light-grey: #d8d8d8;

$text-color-dark: #333;
$text-color-light: #fff;
$dropdown-background-color: #f7f7f7;
$background-color: #f9f9f9;
$foreground-color: #fff;
$border-color: $color-light-grey;
$selection-color-primary: lighten($color-primary, 25%);

$card-border-radius: 4px;

$box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);

$btn-font-size: 16px;
$btn-font-family: "Source Sans Pro", sans-serif;
$btn-font-weight: 600;
$btn-border-radius: 4px;

$footer-height: 50px;
$footer-text-color: $text-color-dark;
