@import "../../../styles/variables.scss";

.active-users-btn {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  & > span {
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.active-users-dropdown {
  font-size: 1rem;
  padding: 10px;

  hr {
    margin: 0.2rem 0 0.2rem 0;
  }
  .active-users-list {
    max-height: 200px;
    overflow-y: scroll;
    .active-users-item {
      margin: 0 0 2px 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
      span {
        margin-left: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 0;
      }
    }
  }
}
