@import "../../styles/variables.scss";

.room-preview-card {
  position: relative;

  width: 160px;
  height: 200px;

  background-color: $foreground-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;

  // transition: all 0.2s ease;

  /* Remove default link text effects */
  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  .remove-button {
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      background-color: darken($foreground-color, 5);
      // border-radius: 50px;
      border-radius: inherit;
    }
  }

  .room-preview-name {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;

    font-weight: 600;
  }

  .room-preview-image {
    display: block;
    margin: auto;

    width: 130px;
    height: 130px;

    border-radius: inherit;
    box-shadow: inset 0px 1px 4px 3px rgba(0, 0, 0, 0.15);
    background-image: url("../../assets/grid.svg");

    padding: 12px;
  }

  &:hover {
    outline: solid;
    outline-color: $color-secondary;
    outline-width: 2px;
    cursor: pointer;
  }
}
