@import "../../styles/variables.scss";

.room-preview-card {
  width: 125px;
  text-align: center;
  line-height: 64px;
  background-color: $foreground-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;

  transition: all 0.2s ease;

  /* Remove default link text effects */
  &,
  &:hover,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }

  .room-preview-name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    font-weight: 600;
  }

  .room-preview-image {
    display: block;
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
  
    padding: 5%;
    margin-bottom: 25px;

    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
  
    background-color: darken(white, 5);
  }

  &:hover {
    background-color: darken($foreground-color, 15);
    box-shadow: none;
    cursor: pointer;
  }
}
