@import "../../styles/variables.scss";

.templates-container {
  $gap: 20px;
  $container-padding: 16px;
  $max-items-per-row: 4;
  $item-padding: 15px;
  $item-width: 200px;
  $item-height: 225px;
  $item-preview-size: $item-width - 2 * $item-padding;
  max-width: $max-items-per-row * $item-width + $gap * ($max-items-per-row - 1) + $container-padding *
    2;

  padding: 16px;
  margin: auto;

  & > h3 {
    margin-bottom: 30px;
  }

  & > p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 20px auto;
  }

  .templates-spinner {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .templates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($item-width, 1fr));
    gap: $gap;

    justify-items: center;
    align-items: center;

    .templates-card {
      position: relative;

      background-color: $foreground-color;
      border-radius: $card-border-radius;
      box-shadow: $box-shadow;

      width: $item-width;
      height: $item-height;

      &,
      &:hover,
      &:visited,
      &:active {
        color: inherit;
        text-decoration: none;
      }

      .room-preview {
        position: absolute;
        bottom: $item-padding;
        left: $item-padding;

        width: $item-preview-size;
        height: $item-preview-size;
      }

      .templates-card-buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
      }

      .templates-card-button {
        margin: 8px;
      }

      .templates-card-name {
        width: $item-width - 2 * $item-padding;

        text-align: center;
        font-weight: 600;
        font-size: 1rem;

        position: absolute;
        top: 10px;
        left: $item-padding;
        margin: 0;

        /* Hide names that are too long (displaying '...' to indicate this) */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      transition: all 0.05s ease;

      &:hover {
        // Convert the shadow into a solid outline on hover
        box-shadow: 0px 0px 0px 2px $color-secondary;
      }
    }
  }
}
