.gallery-container {
  padding: 16px;
  max-width: 1200px;
  margin: auto auto 0 auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}
