.gallery-container {
  padding: 16px;
  margin: auto auto 0 auto;

  max-width: 1200px;
  max-height: 100%;

  overflow: auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}
