.gallery-container {
  padding: 16px;
  margin-left: 20%;
  margin-right: 20%;

  max-width: 1200px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}
