@import "../../styles/variables.scss";

.navbar {
  background-color: $color-primary;
  font-weight: 700;
  height: 56px;

  .navbar-brand-logo {
    height: 100%;
    svg {
      height: 100%;
      path {
        fill: $text-color-light;
      }
    }
  }
}
