@import "../../styles/variables.scss";

.icon-button {
  border: none;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.05s ease;

  /* 
    Don't allow icon buttons to shrink in flexbox containers
    Not sure if this should be a universal behavior but it's here for now

    If anyone changes this, make sure you go through the site and find instances where icon buttons might be 
    squished in flex containers and individually fix them
  */
  flex-shrink: 0;

  & > svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.circle-selection-effect {
    border-radius: 100px;

    &:hover,
    &.toggled {
      background-color: $color-light-grey;
    }
  }

  svg {
    /* 
      Forces transformations to use hardware acceleration.
      https://blog.teamtreehouse.com/increase-your-sites-performance-with-hardware-accelerated-css

      The reason this is here is because on some browsers (e.g. Safari) certain transformations (such as scale on hover) cause
      the element to "wiggle" for some reason. This seems to have fixed that issue.
    */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}
