@import "../../styles/variables.scss";

.dropdown-menu-button {
  max-width: 35px;
}

.dropdown-menu-list {
  list-style-type: none;
  background-color: $dropdown-background-color;
  padding: 0;
  margin: 0;
  border: 1px solid $border-color;
  border-radius: inherit;

  overflow: hidden;

  .dropdown-menu-list-item {
    font-weight: 500;
    padding: 5px 10px;
    font-size: 17px;
    line-height: 28px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-bottom: 1px solid;
    border-bottom-color: $border-color;

    &.bold {
      font-weight: 600;
    }

    svg {
      max-width: 1.5rem;
      margin: auto 0;
      margin-right: 0.6em;
    }

    &:hover {
      cursor: pointer;
      background-color: lighten($border-color, 4%);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
