body {
  background-color: #f9f9f9;
}

.main-content-container {
  background-color: #f9f9f9;
}

.card {
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.list-group {
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

#landing-jumbotron {
  color: white;
  text-shadow: 0px 8px 8px black;

  background-image: url("https://www.mac.edu/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=Autumn%27s-Dorm---%233%2Cv%2Cc%2Cweb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
