@import "./styles/variables.scss";
@import "./components/modals/Modal.scss";

body {
  background-color: $background-color;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arvo";
  font-weight: 700;
  color: $text-color-dark;
}

.main-content-container {
  background-color: $background-color;
}

/* Remove default outline around buttons/inputs */
button,
input,
textarea {
  &:focus {
    outline: 0;
  }
}

.navbar-brand-logo {
  font-family: "Arvo", serif;
}

.main-content-container {
  padding-top: 56px; /* Offsets content of page from navbar (which is fixed to top) */
  overflow: hidden;
}

.custom-card {
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
}

.custom-btn {
  padding: 6px 10px;
  text-decoration: none;
  border: none;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;

  border-radius: $btn-border-radius;
  background-color: $color-primary;
  color: $text-color-light;
  box-shadow: $box-shadow;

  &.custom-btn-secondary {
    background-color: $color-secondary;
  }
}
