@import "./styles/variables.scss";
@import "./components/modals/Modal.scss";

body {
  background-color: $background-color;
  color: $text-color-dark;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arvo";
  font-weight: 700;
  color: $text-color-dark;
}

a {
  color: $color-primary;
}

/* Remove default outline around buttons/inputs */
button,
input,
textarea {
  &:focus {
    outline: 0;
  }
}

.navbar-brand-logo {
  font-family: "Arvo", serif;
}

.main-content-container {
  background-color: $background-color;
  padding-top: 56px; /* Offsets content of page from navbar (which is fixed to top) */
  padding-bottom: $footer-height; /* Offsets content from footer */
  overflow: hidden;
}

.custom-card {
  background-color: $foreground-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  padding: 15px;
}

.custom-btn {
  padding: 6px 10px;
  text-decoration: none;
  border: none;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;

  border-radius: $btn-border-radius;
  background-color: $color-primary;
  color: $text-color-light;
  box-shadow: $box-shadow;

  &:hover {
    background-color: darken($color-primary, 6%);
  }

  &.custom-btn-secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: darken($color-secondary, 6%);
    }
  }
}

#landing-jumbotron {
  color: white;
  text-shadow: 0px 8px 8px black;

  background-image: url("https://www.mac.edu/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=Autumn%27s-Dorm---%233%2Cv%2Cc%2Cweb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
