@import "./styles/variables.scss";
@import "./components/modals/Modal.scss";

body {
  background-color: $background-color;
  color: $text-color-dark;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo";
  font-weight: 700;
  color: $text-color-dark;
}

a {
  color: $color-primary;
}

/* Remove default outline around buttons/inputs */
button,
input,
textarea {
  &:focus {
    outline: 0;
  }
}

.navbar-brand-logo {
  font-family: "Arvo", serif;
}

.main-content-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.offset-from-navbar {
  padding-top: $navbar-height; /* Offsets content of page from navbar (which is fixed to top) */
}

.offset-from-footer {
  padding-bottom: $footer-height; /* Offsets content from footer */
}

.custom-card {
  background-color: $foreground-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  padding: 15px;
}

.custom-btn {
  padding: 6px 10px;
  text-decoration: none;
  border: none;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;

  border-radius: $btn-border-radius;
  color: $text-color-light;
  box-shadow: $box-shadow;

  @include button-background-color($color-primary);
  &.custom-btn-outline {
    @include button-outline-color($color-primary, $text-color-light);
  }

  &.custom-btn-secondary {
    @include button-background-color($color-secondary);
  }

  &.custom-btn-danger {
    @include button-background-color($color-danger);
  }

  &.custom-btn-outline.custom-btn-secondary {
    @include button-outline-color($color-secondary, $text-color-light);
  }

  &.custom-btn-outline.custom-btn-danger {
    @include button-outline-color($color-danger, $text-color-light);
  }

  &.custom-btn-large {
    padding: 10px 18px;
    font-size: $btn-font-size-large;
  }
}
