@import-normalize; // Use normalize.css
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "styles/variables.scss";

* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply cursor pointer to button elements. Also fixes safari changing button:active color */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
