@import "../../styles/variables.scss";

.room-container {
  $navbar-height: 56px;
  $padding-x: 25px;
  $padding-y: 15px;
  $gap-x: 20px;
  $gap-y: 10px;

  $stack-breakpoint: 900px;
  $small-breakpoint: 500px;

  $usable-height: calc(100vh - #{$navbar-height} - #{$footer-height});

  margin: auto;
  overflow: hidden;

  height: $usable-height;
  max-width: 1400px;
  padding: $padding-y $padding-x;

  display: grid;
  grid-template-columns: 2.75fr 1fr;
  grid-template-rows: max-content minmax(0, 1fr);
  grid-template-areas:
    "room-header room-header"
    "room-editor room-item-list";
  gap: $gap-y $gap-x;
  justify-content: center;

  @media screen and (max-width: $stack-breakpoint) {
    grid-template-columns: 100%;
    gap: $gap-y 0;

    .room-item-list-container {
      padding-top: 5px;
    }

    grid-template-rows: max-content 60% minmax(0, 1fr);

    grid-template-areas:
      "room-header"
      "room-editor"
      "room-item-list";
  }

  @media screen and (max-width: $small-breakpoint) {
    padding: $padding-y 10px;
  }

  .room-header {
    grid-area: room-header;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    & > * {
      margin: 0;
    }
    .room-name-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 10px;
      min-width: 0;

      .room-name {
        margin: 0;
        margin-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        white-space: nowrap;
      }
      .room-name-edit-icon {
        display: none;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
      }

      &:hover {
        cursor: pointer;
        color: lighten($text-color-dark, 10%);
        .room-name {
          color: inherit;
        }
        .room-name-edit-icon {
          display: block;
        }
      }
    }

    .room-header-buttons {
      // Set width of buttons
      & > * {
        width: 40px;
      }
      // Active users button needs to be sized differently since it also has a number in addition to the icon. There might be a cleaner way of doing this
      .active-users-btn {
        width: auto;
        .active-users-icon {
          width: 30px;
          height: 30px;
        }
      }

      & > button {
        margin-left: 4px;
      }

      display: flex;
      align-items: center;
    }
  }

  .room-editor-container {
    grid-area: room-editor;

    padding: 0;
  }

  .room-item-list-container {
    grid-area: room-item-list;
    min-width: 325px;

    display: flex;
    flex-flow: column nowrap;

    @media screen and (max-width: $stack-breakpoint) {
      min-width: 0;
      width: 100%;
    }
  }

  .add-item-button {
    margin-bottom: 10px;

    .add-item-button-text {
      vertical-align: middle;
    }
  }
}
