@import "../../styles/variables.scss";

.custom-modal-title {
  font-family: "Arvo", serif;
  font-weight: 700;
}

.custom-modal-card {
}

.modal-header {
  background-color: $color-primary;
  color: white;
  border: 0 none;
}

.modal-footer {
  border: 0 none;
}
